@media(max-width: 45.6rem ){
    html{
        font-size: 75%;
    }

    .all-contents{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .showing-img{
        height: 200px;
    }

}

@media(max-width: 25rem){
    html{
        font-size: 60%;
    }
}